*

# whitelist
!.gitignore
!config_template.ini
!install.sh
!pyproject.toml
!README.md
!setup.py
!examples/
!spotqo_dl/
!examples/**
!spotqo_dl/**

# blacklist
.DS_Store
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
